<?xml version="1.0" ?>

<!--
robotiq-3f-gripper_articulated - articulated version of the robotiq robotiq-3f-gripper,
3 fingered gripper.
-->
<robot name="robotiq-3f-gripper_articulated" xmlns:xacro="http://ros.org/wiki/xacro">

        <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro" />
        <xacro:robotiq-3f-gripper_articulated prefix=""/>

        <gazebo>
                <!-- plugin for RobotiQ hand -->
                <plugin name="robotiq_hand_plugin" filename="libRobotiqHandPlugin.so">
                        <side>left</side>
                        <kp_position>5.0</kp_position>
                        <kd_position>0.5</kd_position>
                </plugin>
        </gazebo>

<!--
        <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_finger_articulated_macro.xacro" />
        <xacro:robotiq-3f-gripper_finger_articulated prefix=""/>
-->
</robot>
